header {
   border: 1px solid;
   background-color: bisque;
 display: flex;
    justify-content: space-between;
}
span{
    font: larger;
    font-weight: 300;
}
.about {
    border: 7px solid;
    
    margin: 1px;

}.project {
    position: absolute;
}
.barki {
    position: relative;
    left: 20px;
    top: 50px;
    z-index: 1;
}